<a href="index.html" title="Công ty Liêu Thanh" class="company">Công ty Liêu Thanh</a>
<ul>
    <li><strong>Add :</strong> Số 364 Cộng Hòa, Tân Bình, TP HCM</li>
    <li><strong>Tel :</strong> 08. 3923 7610    -    <strong>HP :</strong> 0979 234 500 </li>
</ul>
<ul>
    <li><strong>Web:</strong>  <a href="http://www.lieuthanh.com" title="www.lieuthanh.com">www.lieuthanh.com</a></li>
    <li><strong>Email:</strong> <a href="mailto:info@lieuthanh.com" title="info@lieuthanh.com">info@lieuthanh.com</a></li>
</ul>
<p class="copyright">&copy; 2000-2013 lieuthanh Co., LTD</p>