{% extends 'SMFrontBundle::layout.news.detail.html.twig' %}
{% block body%}
<h1 class="title">Chi Tiết Tin tức</h1>
<div class="inner clearfix">  
    <div class="news-detail-block fck">                     
        <h2 class="title-1">{{slug}}</h2> 
    </div>            
</div>
{% endblock %}